body {
  background: #e2e1e0;
  text-align: center;
}
.user-container {     
	display: table;
    border-width: 4px; /* Толщина линии внизу */
    /*border-style: dotted
; /* Стиль линии внизу */
    border-color: MediumSlateBlue; /* Цвет линии внизу */ 
   background: white;
   margin: auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.user-container > div {  /*> применяет ко всем дивам */   
	display: table-cell;
	padding: 16px;
	font-family: "Zapf Chancery", cursive;
}
.Name{
	color:Fuchsia;
	font-size: 20px;
}